<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head/_head', { page: "Edit" }) %>
<body>
  <div class="outside-container">
    <header>
      <%- include('./partials/nav/_nav') %>
    </header>

  </div>
</body>
</html>