@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.outside-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

// Header Nav
header {
  width: 100%;

  nav {
    position: fixed;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 50px;
    justify-items: center;
    align-items: flex-start;
    width: 100%;
    background-color:rgba(189, 188, 188, 0.8);
    z-index: 2;

    .nav-links{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px;
      justify-items: flex-end;
      align-items: center;
    }

    h1 {
      font-family: "Lily Script One", cursive;
      font-size: 115px;
      margin: 10px;
      grid-column-end: span 2;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 24px;
      font-family: "Khand", sans-serif;
    }
    a:hover {
      background-color: rgba(54, 54, 54, 0.411);
      padding: 0px 15px;
      border-radius: 5px;
    }
  }
}

// Gallery container of reviews
.gallery-container {
  margin: 80px 0 0 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 500px 500px 500px auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h3 {
  font-weight: 600;
  font-size: 24px; 
}

.review-card{
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  width: 450px;
  height: 450px;
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
}

// Images of the review
img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}

//display the info of the review on hover
.info-card{
  display: none;
  z-index: 1;
  margin: -135px 0 0 0px;
  padding: 10px;
  background-color:rgba(224, 224, 224, 0.8);
  width: 450px;
  height: 450px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 30px;

  .tags {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
    line-height: 1.3;
  }
}

.image:hover ~ .info-card {
  display: block;
  cursor: pointer;
  transform: scale(1.001);
  object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;

}

.gold {
  color: gold;
  font-size: 24px;
}

.silver {
  color: dimgray;
  font-size: 24px;
}

// Tags styling
p {
  display: inline-flex;
  flex-flow: row wrap;
  background-color: rgba(146, 146, 146, 0.7);
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px 3px;
}

// For show page
.review-container {
  display: grid;
  grid-template-columns: 480px 450px;
  grid-template-rows: 100%;
  margin: 150px 200px;

  .right {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    margin: 0;
    text-align: left;
  }
  h3 {
    font-size: 28px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }

  //buttons area
  .buttons-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 100%;
  }

  .edit {
    margin: 20px 5px;
    padding: 6px 0px;
    width: 100px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 1px solid blanchedalmond;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .delete {
    margin: 20px 5px;
    padding: 5px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border: 3px solid blanchedalmond;
    font-family: 'Josefin Sans', sans-serif;
    
  }
  .delete:hover, .edit:hover {
    border: 2px solid rgb(206, 97, 97);
    background-color: rgb(211, 119, 119);
    box-shadow: 1px 1px 5px dimgray;
    cursor: pointer;
  }
}

// edit page - form

.form-container {
  width: 1000px;
  margin: 0 auto;
  
  form {
  margin: 120px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;  
  align-items: center;
  justify-content: flex-end;
  font-family: 'Khand', sans-serif;
  font-weight: 500;
  font-size: 24px; 
  text-align: right;
  }

  .labels {
    margin-right: 30px;
  }

  input, textarea {
    padding: 20px;
    margin: 10px 50px 0 0;
    width: 400px;
    font-family: 'Khand', sans-serif;
    font-size: 22px;
  }
  button {
      margin: 20px 5px;
      padding: 10px;
      grid-column-start: 2;
      width: 50%;
      justify-self: flex-start;
      background-color: blanchedalmond;
      border-radius: 5px;
      border: 3px solid blanchedalmond;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      
    }
    button:hover {
      border: 2px solid rgb(206, 97, 97);
      background-color: rgb(211, 119, 119);
      box-shadow: 1px 1px 5px dimgray;
      cursor: pointer;
  }

}


@media only screen and (min-width: 1200px) and(max-width: 1500px) {
  .gallery-container{
    margin: 10px;
    transform: scale(0.85);
    gap: 50px;
  }
  .review-container{
    margin: 150px 250px;
  }
}

@media only screen and (min-width: 990px) and(max-width: 1200px) {
  .gallery-container{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    transform: scale(0.9);
    gap: 50px;
  }
  .review-container{
    margin: 150px 100px;
    transform: scale(0.9);
  }
}

@media only screen and (min-width: 100px) and(max-width: 990px) {
  .outside-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .gallery-container{
    display: flex;
    margin: 0;
    flex-flow: row wrap;
    align-items: center;
    transform: scale(0.9);
    gap: 80px;
  }
  .review-container{
    margin: 220px 100px;
    transform: scale(0.8);
    display: flex;
    flex-flow: row wrap;
  }
}