@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.outside-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

header {
  width: 100%;
}
header nav {
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 50px;
  justify-items: center;
  align-items: flex-start;
  width: 100%;
  background-color: rgba(189, 188, 188, 0.8);
  z-index: 2;
}
header nav .nav-links {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-template-rows: 50px;
  justify-items: center;
  align-items: center;
}
header nav h1 {
  font-family: "Lily Script One", cursive;
  font-size: 115px;
  margin: 10px;
  grid-column-end: span 2;
}
header nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: "Khand", sans-serif;
}
header nav a:hover {
  background-color: rgba(54, 54, 54, 0.411);
  padding: 0px 15px;
  border-radius: 5px;
}

.gallery-container {
  margin: 80px 0 0 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  grid-template-rows: 500px 500px 500px auto;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

.review-card {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  width: 450px;
  height: 450px;
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
}

img {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
}

.info-card {
  display: none;
  z-index: 1;
  margin: -106px 0 0 29px;
  padding: 10px;
  background-color: rgba(224, 224, 224, 0.8);
  width: 392px;
  height: 392px;
  border-radius: 20px;
}

.image:hover ~ .info-card {
  display: block;
  transform: scale(1.15);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.gold {
  color: gold;
  font-size: 24px;
}

.silver {
  color: dimgray;
  font-size: 24px;
}

p {
  display: inline-flex;
  flex-flow: row wrap;
  background-color: rgba(146, 146, 146, 0.7);
  padding: 5px 10px;
  border-radius: 8px;
  margin: 5px 3px;
}

.review-container {
  display: grid;
  grid-template-columns: 480px 450px;
  grid-template-rows: 100%;
  margin: 150px 200px;
}
.review-container .right {
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
  margin: 0;
  text-align: left;
}
.review-container h3 {
  font-size: 28px;
  font-weight: 600;
}
.review-container h4 {
  font-size: 18px;
}
.review-container h5 {
  font-size: 14px;
}
.review-container .delete {
  margin: 20px 5px;
  padding: 5px;
  background-color: blanchedalmond;
  border-radius: 5px;
  border: 3px solid blanchedalmond;
  font-family: "Josefin Sans", sans-serif;
}
.review-container .delete:hover {
  border: 2px solid #ce6161;
  background-color: #d37777;
  box-shadow: 1px 1px 5px dimgray;
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .gallery-container {
    margin: 10px;
    transform: scale(0.85);
    gap: 50px;
  }
}
@media only screen and (min-width: 990px) and (max-width: 1200px) {
  .gallery-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    transform: scale(0.9);
    gap: 50px;
  }
}
@media only screen and (min-width: 100px) and (max-width: 990px) {
  .outside-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .gallery-container {
    display: flex;
    margin: 0;
    flex-flow: row wrap;
    align-items: center;
    transform: scale(0.9);
    gap: 80px;
  }
}

/*# sourceMappingURL=main.css.map */
