<nav>
  <a href="/foodie"><h1> foodie </h1></a>
  <div class="nav-links">
    <a href="/foodie/new" title="Submit">submit reviews</a>
    <a href="/foodie/edit" title="Edit">edit reviews</a>
  </div>
</nav>